@font-face {
  font-family: Futura;
  src: url('#{$baseUrl}fonts/futurastd-book-woff-data.woff') format("font-woff"),url('#{$baseUrl}fonts/futurastd-book-woff-data.woff') format("ttf"),url('#{$baseUrl}fonts/futurastd-book-otf-data.otf') format("opentype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: FuturaStd-Book;
  src: url('#{$baseUrl}fonts/futurastd-book-eot-data.eot'),url('#{$baseUrl}fonts/futurastd-book-eot-data.eot') format("embedded-opentype"),url('#{$baseUrl}fonts/futurastd-book-woff-data.woff') format("font-woff"),url('#{$baseUrl}fonts/futurastd-book-woff-data.woff') format("ttf"),url('#{$baseUrl}fonts/futurastd-book-otf-data.otf') format("opentype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: FuturaStdBook;
  src: url('#{$baseUrl}fonts/futurastd-book-eot-data.eot'),url('#{$baseUrl}fonts/futurastd-book-eot-data.eot') format("embedded-opentype"),url('#{$baseUrl}fonts/futurastd-book-woff-data.woff') format("font-woff"),url('#{$baseUrl}fonts/futurastd-book-woff-data.woff') format("ttf"),url('#{$baseUrl}fonts/futurastd-book-otf-data.otf') format("opentype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: FuturaPT-Bold;
  src: url('#{$baseUrl}fonts/futurapt-bold-woff-data.woff') format("font-woff"),url(#{$baseUrl}fonts/futurapt-bold-otf-data.otf) format("opentype");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: FuturaStd-Bold;
  src: url(#{$baseUrl}fonts/futurapt-bold-woff-data.woff) format("font-woff"),url(#{$baseUrl}fonts/futurapt-bold-otf-data.otf) format("opentype");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: FuturaStdBold;
  src: url(#{$baseUrl}fonts/futurapt-bold-woff-data.woff) format("font-woff"),url(#{$baseUrl}fonts/futurapt-bold-otf-data.otf) format("opentype");
  font-weight: 700;
  font-style: normal
}