@font-face {
  font-family: 'futurapt-bold';
  src: url('#{$baseUrl}fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$baseUrl}fonts/FuturaPT-Bold.otf') format('opentype'),
  url('#{$baseUrl}fonts/FuturaPT-Bold.woff') format('woff'),
  url('#{$baseUrl}fonts/FuturaPT-Bold.ttf') format('truetype'),
  url('#{$baseUrl}fonts/FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
}

@font-face {
  font-family: 'futurastd-book';
  src: url('#{$baseUrl}fonts/FuturaPTBook-Reg.eot?#iefix') format('embedded-opentype'),
  url('#{$baseUrl}fonts/FuturaPTBook-Reg.otf') format('opentype'),
  url('#{$baseUrl}fonts/FuturaPTBook-Reg.woff') format('woff'),
  url('#{$baseUrl}fonts/FuturaPTBook-Reg.ttf') format('truetype'),
  url('#{$baseUrl}fonts/FuturaPTBook-Reg.svg#FuturaPTBook-Reg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaLTPro-Medium';
  src: url('#{$baseUrl}fonts/FuturaLTPro-Medium.woff2') format('woff2'),
  url('#{$baseUrl}fonts/FuturaLTPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaLT-Condensed';
  src: url('#{$baseUrl}fonts/FuturaLT-Condensed.woff2') format('woff2'),
  url('#{$baseUrl}fonts/FuturaLT-Condensed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaLTPro-MediumCond';
  src: url('#{$baseUrl}fonts/FuturaLTPro-MediumCond.woff2') format('woff2'),
  url('#{$baseUrl}fonts/FuturaLTPro-MediumCond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaLT-CondensedLight';
  src: url('#{$baseUrl}fonts/FuturaLT-CondensedLight.woff2') format('woff2'),
  url('#{$baseUrl}fonts/FuturaLT-CondensedLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
