// global.scss
@import "./theme.scss";
//global values
@import "normalize";

/* Hide scrollbar for Chrome, Safari and Opera */
:global(body::-webkit-scrollbar) {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

:global(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  background: $primary-bg;
  --base-fontsize: 10 !important;
  --base-design-width: 375;
  @include respond-to("desktop") {
    --base-fontsize: 10 !important;
    --base-design-width: 1440; //Desktop width
  }
}

:global(html) {
  /*Base font size based of viewport width (1920px) for using rems*/
  font-size: calc(var(--base-fontsize) / var(--base-design-width) * 100vw);
  //font-size: 10px;
  margin: 0;
}

:global(body) {
  background-color: $primary-bg;
  overflow-x: hidden;
}

//For dynamically changing colours via JS

//Globally used styles

.nav-ac {
  position: absolute;
  background-image: url(/images/ac-logo.svg);
  background-repeat: no-repeat;
  width: 11rem;
  height: 1.7rem;
  left: 2rem;
  top: 2.4rem;
  background-size: 11rem;
  @include respond-to("desktop") {
    width: 11rem;
    height: 1.7rem;
    left: 1rem;
    top: 4rem;
    background-size: 11rem;
  }
}
.nav-text {
  position: absolute;
  color: $font-white;
  font-family: $bold_gilroy;
  font-weight: 900;
  font-size: 1.1rem;
  line-height: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  width: 11rem;
  height: 1.1rem;
  right: 2.5rem;
  top: 2.2rem;
  @include respond-to("desktop") {
    width: 11rem;
    height: 1.1rem;
    right: 2rem;
    top: 4.1rem;
  }
}

//Font face, add fonts here, < 10 preferable. Can be used as mixins..
@font-face {
  font-family: "Cako Black";
  src: url("../fonts/Cako Black.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Regular";
  src: url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Semibold";
  src: url("../fonts/Gilroy-Semibold.woff") format("woff"),
    url("../fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("../fonts/Gilroy-Semibold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
