//@include respond-to("desktop") {
.header {
  .text-one {
    position: absolute;
    color: $violet;
    font-family: $main_cako;
    font-size: 3.6rem;
    @include respond-to("desktop") {
      width: 142.1rem;
      height: 33.6rem;
      left: 23rem;
      top: 31.2rem;
      font-size: 9rem;
      text-transform: none;
    }
  }
  .text-two {
    position: absolute;
    color: $font-grey;
    font-family: $main_gilroy;
    width: 46rem;
    height: 18.4rem;
    left: 73rem;
    top: 71.7rem;
    font-size: 2.2rem;
    line-height: 3.6rem;
  }
  .nav-lights {
    position: absolute;
    width: 190.5rem;
    height: 44.2rem;
    left: -12.2rem;
    top: -9.9rem;
    opacity: 0;
    &[data-active="true"] {
      opacity: 1;
    }
  }
}
