.name-ornaments {
  .name-ornaments__2-4 {
    position: absolute;
    width: 22rem;
    height: 75.5rem;
    left: 109rem;
    top: -5rem;
  }
}
.blank-ornaments {
  .blank-ornaments__1 {
    position: absolute;
    width: 22rem;
    height: 63.4rem;
    left: 37rem;
    top: 134.6rem;
  }
  .blank-ornaments__2 {
    position: absolute;
    width: 22rem;
    height: 63.4rem;
    left: 85rem;
    top: 211.9rem;
  }
  .blank-ornaments__3 {
    position: absolute;
    width: 22rem;
    height: 63.4rem;
    left: 25rem;
    top: 300rem;
  }
  .blank-ornaments__4 {
    position: absolute;
    width: 22rem;
    height: 63.4rem;
    left: 37rem;
    top: 440.5rem;
  }
  .blank-ornaments__5 {
    position: absolute;
    width: 22rem;
    height: 65.5rem;
    left: 85rem;
    top: 462.5rem;
  }
}
