.personal-bg-items {
  .mistletoe {
    position: absolute;
    width: 22rem;
    height: 13.4rem;
    left: 25rem;
    top: 15.5rem;
  }
  .ac-snowflake__four {
    position: absolute;
    width: 22rem;
    height: 22.1rem;
    left: 121rem;
    top: 264.2rem;
  }
  .ac-snowflake__five {
    position: absolute;
    width: 22rem;
    height: 22.1rem;
    left: 2rem;
    top: 402rem;
  }
  .ac-snowflake__six {
    position: absolute;
    width: 22rem;
    height: 22rem;
    left: 97rem;
    top: 599.3rem;
  }
  .ac-snowflake__seven {
    position: absolute;
    width: 22rem;
    height: 22.1rem;
    left: 49rem;
    top: 102.4rem;
  }
  .solid-shape__one {
    position: absolute;
    width: 48rem;
    height: 48rem;
    left: 1rem;
    top: 112.9rem;
    transform: rotate(-90deg);
  }
  .solid-shape__four {
    position: absolute;
    width: 94rem;
    height: 36.7rem;
    left: 28.4rem;
    top: 295.6rem;
    transform: rotate(9deg);
  }
  .solid-shape__five-1 {
    position: absolute;
    width: 46rem;
    height: 25.8rem;
    left: 25rem;
    top: 413.1rem;
  }
  .solid-shape__five-2 {
    position: absolute;
    width: 46rem;
    height: 25.8rem;
    left: 73rem;
    top: 413.1rem;
  }
  .solid-shape__five-3 {
    position: absolute;
    width: 46rem;
    height: 25.8rem;
    left: 25rem;
    top: 438.8rem;
  }
  .solid-shape__five-4 {
    position: absolute;
    width: 46rem;
    height: 25.8rem;
    left: 73rem;
    top: 438.8rem;
  }
  .xxx-flag {
    position: absolute;
    width: 22rem;
    height: 30.4rem;
    left: 97rem;
    top: 143.9rem;
  }
  .snowglobe {
    position: absolute;
    width: 46rem;
    height: 51rem;
    left: 73rem;
    top: 187.9rem;
  }
  .hat {
    position: absolute;
    width: 21.9rem;
    height: 24.6rem;
    left: 49.3rem;
    top: 586.2rem;
  }
  .horns {
    position: absolute;
    width: 22rem;
    height: 20.9rem;
    left: 1rem;
    top: 621rem;
  }
  .star__one {
    position: absolute;
    width: 22rem;
    height: 22rem;
    left: 77rem;
    top: 285.8rem;
  }
  .star__two {
    position: absolute;
    width: 22rem;
    height: 22rem;
    left: 13rem;
    top: 520.2rem;
  }
  .arrow-one {
    position: absolute;
    width: 11rem;
    height: 13.5rem;
    left: 90.5rem;
    top: 425.2rem;
    transform: rotate(-180deg);
  }
  .arrow-two {
    position: absolute;
    width: 11rem;
    height: 13.5rem;
    left: 42.5rem;
    top: 451rem;
  }
}
