.personal-text-blocks {
  line-height: 10.6rem;
  font-family: $main_cako;
  color: $purple;
  font-weight: 900;
  height: 10.6rem;
  .text-one {
    position: absolute;
    width: 90.5rem;
    height: 22.8rem;
    left: 23rem;
    top: 31.2rem;
    font-size: 9rem;
    text-transform: capitalize;
  }
  .text-two {
    position: absolute;
    width: 60rem;
    height: 10.4rem;
    left: 25rem;
    top: 56.2rem;
    font-family: $main_gilroy;
    color: $font-white;
    line-height: 3.6rem;
    font-size: 2.2rem;
  }
}

.stats-text {
  text-align: center;
  .stats-1 {
    position: absolute;
    font-family: $main_cako;
    font-weight: 900;
    font-size: 30rem;
    line-height: 36rem;
    color: $violet;
    top: 114.7rem;
    left: 11.4rem;
  }
  .stats-text-1 {
    position: absolute;
    font-family: $main_gilroy;
    font-size: 3rem;
    line-height: 4.7rem;
    color: $font-white;
    width: 30.4rem;
    height: 9.4rem;
    top: 146rem;
    left: 9.8rem;
  }
  .stats-2 {
    position: absolute;
    font-family: $main_cako;
    font-weight: 900;
    font-size: 30rem;
    line-height: 28rem;
    color: $mid-blue;
    top: 193.6rem;
    left: 82.5rem;
  }
  .stats-text-2 {
    position: absolute;
    font-family: $main_gilroy;
    font-size: 3rem;
    line-height: 4.7rem;
    color: $font-white;
    width: 25.6rem;
    height: 4.7rem;
    top: 221.1rem;
    left: 83.2rem;
  }
  .stats-3 {
    position: absolute;
    font-family: $main_cako;
    font-weight: 900;
    font-size: 20rem;
    line-height: 24rem;
    color: $purple;
    top: 298rem;
    left: 33rem;
    transform: rotate(9deg);
  }
  .stats-text-3 {
    position: absolute;
    width: 27.2rem;
    height: 63.4rem;
    left: 80.3rem;
    top: 310.4rem;
    z-index: 1;
    font-family: $main_gilroy;
    font-size: 4rem;
    line-height: 4.7rem;
    color: $font-white;
    transform: rotate(9deg); //TBC
  }
  .stats-4 {
    position: absolute;
    width: 21.7rem;
    height: 16.8rem;
    font-family: $main_cako;
    font-size: 12rem;
    line-height: 16.8rem;
    color: $font-white;
    left: 37rem;
    top: 422rem;
  }
  .stats-text-4 {
    position: absolute;
    width: 33.5rem;
    height: 10.2rem;
    left: 79.3rem;
    top: 455rem;
    z-index: 1;
    font-family: $main_gilroy;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.4rem;
    color: $font-white;
  }
}
