//----------------------------BREAKPOINTS---------------------------

$breakpoints: (
  "min": 375px,
  "desktop": 767px,
  "max": 1200px,
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

//main article
$article-width-desktop: 767px;
$article-width-mobile: 375px;
$article-max: 1400px;
$screen-width: 100vw;

//------------------cookiewall-------------------------
$small: "(max-width: 736px)";

//-----------------------COLOURS------------------------------

/* Primary colors */
$primary-bg: #1e3546;
$mid-blue: #4064d6;
$purple: #6685e8;
$violet: #9eb0f6;
$font-white: white;
$font-grey: #d8d8d8;

//--------------------------TEXT------------------------------
// *-- use mixins
//font styles
$main_cako: "Cako Black", Arial, Helvetica, sans-serif; // 300, 400, 700
$main_gilroy: "Gilroy Regular", Arial, Helvetica, sans-serif;
$bold_gilroy: "Gilroy Semibold", Arial, Helvetica, sans-serif;

//Z-indexing
$nav-index: 1000;
$menu-index: 1001;

//@import 'mixins';
