.trees {
  .trees-one {
    position: absolute;
    width: 22rem;
    height: 52.7rem;
    left: 2.4rem;
    top: 170.4rem;
    z-index: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    @include respond-to("desktop") {
      width: 22rem;
      height: 52.7rem;
      left: 73rem;
      top: 266.6rem;
      transform: none;
    }
  }

  .tree-top {
    position: absolute;
    width: 10.6rem;
    height: 7.5rem;
    left: 24.8rem;
    top: 346.9rem;
    @include respond-to("desktop") {
      width: 21.7rem;
      height: 15rem;
      left: 49.4rem; //70.9rem; <- figma values
      top: 414rem; //429.0rem;
    }
  }
  .tree-mid {
    position: absolute;
    width: 10.9rem;
    height: 8.9rem;
    left: 13.4rem;
    top: 362.9rem;
    @include respond-to("desktop") {
      width: 21.7rem;
      height: 17.7rem;
      left: 49.2rem; //70.6rem;
      top: 450.5rem; //468.2rem;
    }
  }
  .tree-bott {
    position: absolute;
    width: 10.9rem;
    height: 10.3rem;
    left: 24.8rem;
    top: 380.2rem;
    @include respond-to("desktop") {
      width: 21.8rem;
      height: 20.6rem;
      left: 49.1rem; //70.9rem; <- figma values
      top: 475.2rem; //495.8rem;
    }
  }
}
